.box-container{
  display:flex;
}
.box{
  /* 에니메이션 효과 낼라면 auto쓰면안되고 숫자를 써야됨 */
  width:100px;
  height:100px;
  border : 2px solid black;
  background:rgba(255,255,0,0.7);
  transition: 1s;
  /* duration : 재생시간, delay : 기다렸다 가는 시간 */
}
.box:hover{
  /* transform : scale(2) rotate(15deg); */
  /* transform: skewY(-30deg); */
  /* transform: translate(30px, 10px); */
  /* transform: translateX(30px); */
  /* transform : scale(1.5); */
  /* transform: rotate(30deg); */
  /* transform-origin: left top; 기준점이 왼쪽 위 */
  /* transform-origin: 100% 100%; */
  /* transform: scale(2); */
  /* width: 200; */
  /* background: red; */
}
