.characters{
  background: #fff000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ilbuni{
  width: 100px;
  cursor: pointer;
}
img{
  max-width: 100%;
  height: auto;
}
.characters .ilbuni{
  display: inline-block;
}
.special{
  border: 10px dashed red;
}
