@keyframes ball-ani {
  from{
    transform: translate(0,0);
  }

  to{
    transform: translate(200px, 200px);
  }
}

.ball{
  position: absolute;
  left: 0;
  top: 0;
  /* margin: -15px 0; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: red;
  /* transition : 2s; */

  /* 실행시간 1s, 3번 반복 */
  /* alternate : 왔다갔다하기 */
  /* forwards : 마지막자리에 멈춤 */
  /* animation: ball-ani 1s 3 alternate forwards; */
}
.ball.end{
  /* background:dodgerblue; */

  border:5px solid dodgerblue;
}
